body {
    background-color: #eae5cc;
    margin: 0px 0px 0px 0px;
    
    font-family: "Consolas", "Lucida Console";
}

div#header{
    padding: 0px 0px 0px 15%;
}

div#main{
    background-color: #74b763;
    margin:20px 0px 100px 0px;
    padding: 50px 0px 0px 0px;
    height: 100%;
    

}

div#window{
    background-color:#cecab5;
    margin: 50px auto;
    padding: 20px 4px 4px 4px;
    max-width: 700px;
    min-width: 250px;
    width:75%;
    height: 400px;
    border-radius: 5px;

}

a.codelink{
    color:#57b8d1;
    font-family: "Consolas", "Lucida Console";
    font-weight: bold;
    text-decoration: none;

}

div#console{
    background-color: #3a3a3a;
    color: #eae5cc;
    padding: 20px 20px 20px 20px;
    height: 360px;
    overflow: auto;
   
}

div.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

div.scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

div.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
