#about-container{
  position: absolute;
  top:0px;
  left:0px;
  width:80vw;
  margin:10vh 0 0 10vw;
  padding:5px;
  border-radius: 40px;
  border: 3px solid black;
  outline-style:none;
  box-shadow: inset 0 0 0 3000px rgba(51,51,51,0.5);
}


#aboutme{
  margin:20px 20px 20px 20px;
  color: white;
  font-size: 1.2em;
}

#about-close{
  /*position: absolute;
  right:0;*/
}

div.container{
  height:100vh;
  width:100vw;
}

svg{
  /*background-color: #2B2B2B;*/
  width:100%;
  height:100%;
}

#cursor-options{
  position:absolute;
  top:0px;
  left:0px;
}

#cursor-buttons{
  margin-left: 20px;
  margin-top: 20px;
}

#cursor-form{
  margin-left: 20px;
  margin-top: 20px;
}


.btn-rounded{
  display: inline-block;
  margin:0px 5px 0px 0px;
  padding:5px;
  border-radius: 40px;
  border: 2px solid lightgray;
  outline-style:none;
}

.btn-rounded:hover{
  border: 2px solid black;
}

.rounded-outline{
  background-color: lightgray;
}

.game-board{
  /*background-color: #252521;*/

}

#about-commands{
  position: absolute;
  right:0px;
  top:0px;
  margin-right: 20px;
  margin-top:20px;
}

#global-commands{
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left:20px;
  margin-bottom:20px;
}

.hidden
{
    display:none;
    visibility:hidden;
}

.blur{
  filter: blur(1px);
}
