<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gravity Game</title>
		<script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://github.com/trippalamb/trippalamb.github.io/blob/master/App/MathExt.js"></script>
        <script src="https://github.com/trippalamb/trippalamb.github.io/blob/master/App/Objects/Comet.js"></script>
        <script src="https://github.com/trippalamb/trippalamb.github.io/blob/master/App/PageMains/GravityGameMain.js"></script>
		<style type="text/css">
			/* No style rules here yet */		
		</style>
	</head>
	<body>
        <div id="svg" class="container"></div>
	    <div id="svgdataurl"></div>


    
		<script type="text/javascript">
           mainGravityGame(); 
		</script>
	</body>
</html>
