<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello, World.</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
    <div id="background">
        <h1 id="name-header"><a id="link-index" href=".\index.html">Tripp Lamb</a></h1>
        <div id="text-container">
            <p>Sometimes I do things. Here are those things.</p>
            <!--TODO: links to github and npm-->
        </div>
        <a href="https://www.npmjs.com/package/generic-rk">
            <div class="example-link">
                <h1>Genric-RK</h1>
                <img src="../imgs/generic-rk_thumbnail.png" alt="Generic-RK NPM Package" width="400" height="300" />
            </div>
        </a>
        <a href="./pendulum.html">
            <div class="example-link">
                <h1>Pendulum</h1>
                <img src="../imgs/gravity_thumbnail.png" alt="Pendulum Sim" width="400" height="300" />
            </div>
        </a>
        <a href="./gravity.html">
            <div class="example-link">
                <h1>Gravity Game</h1>
                <img src="../imgs/gravity_thumbnail.png" alt="Gravity Game" width="400" height="300" />
            </div>
        </a>
    </div>

</body>
</html>