<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello, World.</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
    <div id="background">
        <div id="text-container">
            <h1 id="name-header"><a id="link-index" href=".\index.html">Tripp Lamb</a></h1>
            <p>Sometimes I do things. Here are those things.</p>
            <p><b>GitHub: </b><a href="https://github.com/trippalamb">https://github.com/trippalamb</a></p>
            <p><b>npm: </b><a href="https://www.npmjs.com/~tripplamb">https://www.npmjs.com/~tripplamb</a></p>
            <a class="example-link" href="https://www.npmjs.com/package/generic-rk">
                <div>
                    <h1>Genric-RK</h1>
                    <img src="../imgs/generic-rk_thumbnail.png" alt="Generic-RK NPM Package" width="400" height="300" />
                </div>
            </a>
            <a class="example-link" href="./pendulum.html">
                <div>
                    <h1>Pendulum</h1>
                    <img src="../imgs/gravity_thumbnail.png" alt="Pendulum Sim" width="400" height="300" />
                </div>
            </a>
            <a class="example-link" href="./gravity.html">
                <div>
                    <h1>Gravity Game</h1>
                    <img src="../imgs/gravity_thumbnail.png" alt="Gravity Game" width="400" height="300" />
                </div>
            </a>
        </div>
        
    </div>

</body>
</html>