<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gravity Game</title>
		<link rel="stylesheet" href="../Style/master.css">
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<script src="../ExtLibs/jscolor.js"></script>
		<script src="../App/MathExt.js"></script>
    <script src="../App/Objects/comet.js"></script>
    <script src="../App/Objects/star.js"></script>
		<script src="../App/PageMains/GravityGameMain.js"></script>
		<style type="text/css">
			/* No style rules here yet */
		</style>
	</head>
  <body>

	  <div id="container">


	    <svg class="game-board blur"></svg>

			<div id="cursor-options">
		    <div id="cursor-buttons">
		      <div id="btn-createComet" class="btn-cursor btn-rounded rounded-outline"><label>Comet</label></div>
		      <div id="btn-createStar" class="btn-cursor btn-rounded"><label>Create Star</label></div>
		      <div id="btn-selectStar" class="btn-cursor btn-rounded"><label>Select Star</label></div>
		    </div>
	      <div id="cursor-form">
			    <div>
			      <label for="txt-color">Color: </label>
				    <input class="jscolor" id="txt-color" value="ab2567">
				  </div>
				  <div class="hidden">
        	  <label for="txt-mass">Mass:  </label>
					  <input type="text" id="txt-mass" value="2" name="mass"><br>
				  </div>
				</div>
	    </div>

		  <div id="global-commands">
		    <div id="btn-clearComets" class="btn-rounded"><label>Clear Comets</label></div>
		    <div id="btn-clearStars" class="btn-rounded"><label>Clear Stars</label></div>
		  </div>

		  <div id="about-commands">
        <div id="about-open" class="btn-rounded"><label>About Me</label></div>
		  </div>



    </div>

			<div id="about-container" >
				<div id="aboutme">
					<section id="main_content" class="inner">
            <h2 id="hello-world">Hello, World.</h2>

            <p>
						  I’m a <a href="https://trippalamb.github.io/programmer">programmer</a>.<br>
              I’m a <a href="https://trippalamb.github.io/chemist">chemist</a>.<br>
              I’m located in the beautiful <a href="https://en.wikipedia.org/wiki/Huntsville,_Alabama">Rocket City</a>
					  </p>

            <p>I like <a href="https://trippalamb.github.io/skills">learning</a>. I like working on personal <a href="https://github.com/trippalamb?tab=repositories">projects</a>. I like to <a href="https://trippalamb.github.io/tutorials">teach</a> others. But mostly I like to solve problems. It’s even better if I can create a method to help someone else solve their own problem.</p>

            <p>My current problem is creating a reasonably generic and modular missile model for use in missile defense simulation at Delta Research Inc. <a href="https://trippalamb.github.io/problems">For more details or past problems go here.</a></p>

            <p>Well, that was the short version. If you are hooked and want to know more about me check out the above links or click <a href="https://trippalamb.github.io/blog">here</a> to go to my personal blog.</p>

            <p>I’m always interested in hearing about new opportunities so send me a line at trippalamb@gmail.com.</p>


          </section>
					<input type="button" id="about-close" value="I Just Wanted to Play the Games">
				</div>
	  </div>
    <div id="svgdataurl"></div>



		<script type="text/javascript">
           mainGravityGame();
		</script>
	</body>
</html>
