<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tripp Lamb</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
    <div id="background">
        <div id="text-container">
            <h1 id="name-header"><a id="link-index" href=".\index.html">Tripp Lamb</a></h1>
            <p>&gt; Hello, World.</p>
            <p>&gt; I'm a programmer.</p>
            <p>&gt; I'm a chemist.</p>
            <p>&gt; I'm an aspiring quantum programmer.</p>
            <p>&gt; I'm a procedural generation hobbyist.</p>
            <p>&gt; I'm located in the beautiful <a href="https://en.wikipedia.org/wiki/Huntsville,_Alabama">Rocket City</a>.</p>
            <p>
                &gt; I like learning. I like working on personal projects. I like to teach others.
                But mostly I like to solve problems.
                It's even better if I can create a method or tool to help someone else solve their own problem.
            </p>
            <p>
                &gt; I try to keep things simple and functional. I strive for elegance.
            </p>
            <p>
                &gt; I'm always interested in hearing about new opportunities,
                so if you have one for me, feel free to email me @ <a class="email" href="mailto:trippalamb@gmail.com" target="_blank">trippalamb@gmail.com</a>.
            </p>

            <br />
            <a id="link-examples" class="link-button" href=".\examples.html">Examples</a>
            <a id="link-resume" class="link-button" href=".\resume.html">Résumé</a>
        </div>
        
    </div>
    
</body>
</html>
