<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello, World.</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
    <div id="background">
        <div id="text-container">
            <h1 id="name-header"><a id="link-index" href=".\index.html">Tripp Lamb</a></h1>
            <div id="resume">
                <div id="header">
                    <p>(Tripp) Milton Arthur Lamb III</p>
                    <p>trippalamb@gmail.com</p>
                    <p><a id="pdf-download" href="../content/MALResume_2020Oct.pdf" target="_blank" download>PDF Download</a></p>
                </div>
                <div id="education">
                    <div class="title">
                        <h2>Education</h2>
                    </div>
                    <div class="section-content">
                        <p>UAHuntsville (2007-2011)</p>
                        <p>Huntsville, AL</p>
                        <p>Bachelor's Degree in Chemistry, Cum Laude</p>
                        <p>Minor in Math</p>
                        <p><b>GPA:</b> 3.6/4.0</p>
                        <p><b>Honors and Affiliations:</b> Presidential Scholarship, Jane Knight Lowe Memorial Scholarship, Co-op of the Year for Department of Science (2010-2011 term), ACS Award for Analytical Chemistry 2011</p>
                    </div>
                </div>
                <div id="expertise">
                    <div class="title">
                        <h2>Expertise</h2>
                    </div>
                    <div class="section-content">
                        <table>
                            <tr>
                                <td>Operating Systems</td>
                                <td>Windows, Linux, Mac OS</td>
                            </tr>
                            <tr>
                                <td>Proficient Languages</td>
                                <td>Fortran, JavaScript/NodeJS, C#</td>
                            </tr>
                            <tr>
                                <td>Additional Lanugages (Professionally Used)</td>
                                <td>C++, Python, Java, MATLAB, Bash</td>
                            </tr>
                            <tr>
                                <td>Programming Environments</td>
                                <td>Visual Studio, Atom, Vim</td>
                            </tr>
                            <tr>
                                <td>Additional Technologies</td>
                                <td>HTML5, CSS3, Git, Electron, SQL</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="Experience">
                    <div class="title">
                        <h2>Experience</h2>
                    </div>
                    <div class="section-content">
                        <div class="position">
                            <h3>Delta Research</h3>
                            <p>Nov 2013 - Present</p>
                            <p>Huntsville, AL</p>
                            <p>Weapons System Analyst / Software Development Team Lead</p>
                            <ul>
                                <li>Lead a small development team to develop internal software to support the analysis of  missile, radar, and battle management systems</li>
                                <li>
                                    Software architect and manager of several software projects for data analysis and model simulation
                                    <ul>
                                        <li>Missile defense, missile, radar, and debris safety simulations</li>
                                        <li>Various tools for post-processing of data from the above simulations</li>
                                        <li>Versioning management and testing software for the above simulations</li>
                                        <li>Multiple user interfaces for the above software</li>
                                        <li>Scripts for miscellaneous analysis and data management</li>
                                    </ul>
                                </li>
                                <li>Direct analysis when designing new analysis software, and additionally as needed</li>
                                <li>Design company-wide software guidelines</li>
                                <li>Lead the company-wide restructure to have a core software development team, to support the software needs of all engineers and analysts</li>
                                <li>Determine which software development would benefit the company with minimal input from managers by working direction with engineers to determine bottlenecks and possible solutions</li>
                                <li>Creation and presentation of documentation to explain capability and processes of developed software</li>
                            </ul>

                        </div>
                    </div>
                    <div class="section-content">
                        <div class="position">
                            <h3>Hudson Alpha</h3>
                            <p>Feb 2013 - Oct 2013</p>
                            <p>Huntsville, AL</p>
                            <p>Software Developer</p>
                            <ul>
                                <li>Maintained and updated in-house applications including: the main pipeline, the web interface that manages the main project, and web applications that handle form data </li>
                                <li>Maintained constantly live software that can only be fully tested once in production </li>
                                <li>Maintained and edited live data in MySQL database </li>
                                <li>Programed in JavaScript, Bash, Perl, SQL, Python, and Java </li>
                                <li>Used MVC and REST frameworks, HTML5, CSS3, various JS libraries, Git (GitHub), Vim, testing frameworks, and MySQL</li>
                                <li>JavaScript specialist for the Myers' Lab computational group</li>
                                <li>Fielded questions from co-workers in the lab who use the tools we created on a daily basis </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="position">
                            <h3>Center for Advanced Public Safety (CAPS)</h3>
                            <p>Mar 2012 - Feb 2013</p>
                            <p>Huntsville, AL</p>
                            <p>Junior Software Developer</p>
                            <ul>
                                <li>Website development in VB and C# using Visual Studio 2010, MVC3, SQL Server, and JavaScript </li>
                                <li>Created website pages using HTML, CSS, jQuery, and external styling in addition to the tools used for website design </li>
                                <li>Worked on multiple public service websites for the State of Alabama</li>
                                <li>Performed program testing, reported bugs in code, and resolved bugs</li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="position">
                            <h3>AMRDEC</h3>
                            <p>Sep 2007 - Dec 2011</p>
                            <p>Redstone ARsenal, AL</p>
                            <p>Co-op Computer Scienetist / Propellant Analyst</p>
                            <ul>
                                <li>Model and terrain creation (Blender, 3DS Max, OSG) for the Avenger Trainer (ADA-Trainer)</li>
                                <li>Programmed on various projects (including the Avenger Trainer) in C++ and C#</li>
                                <li>Developed and maintained an application for in-house file conversion</li>
                                <li>Wrote papers and documents detailing research for future reference</li>
                                <li>Performed chemical and mechanical testing on propellant samples</li>
                                <li>Handled, transported, and inventoried explosives (1.1 and 1.3) </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="Projects">
                    <div class="title">
                        <h2>Projects</h2>
                    </div>
                    <div class="section-content">
                        <ul>
                            <li><a href="https://github.com/trippalamb">GitHub</a></li>
                            <li><a href="https://www.npmjs.com/~tripplamb">NPM</a></li>
                            <li><a href="./examples.html">Live Examples</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>